<template name="projectView">

	<div class="project-users-search">
        Add a user to this project.<br/>
  		{{> esInput index="searchUsers" placeholder="Search for a user..." }}
  		<ul>
	        {{#esEach index="searchUsers"}}
	            <button class="project-user-add" id="{{_id}}">User <strong>{{username}}</strong></button>
	            <br />
	        {{/esEach}}
	    </ul>

    </div>
	
	<!--this is here just to test that users are added correctly--> 
	<div class="project-info" id="{{this._id}}">
		<strong>Project Name:</strong> {{this.name}}
		{{#each this.users}}
		<li>{{this}}</li>
		{{/each}}
	</div>

	<!--layout definitely needs to be worked out--> 
</template>