<template name="projectView">

	<div class="project-users-search">
        Add a user to this project.<br/>
  		{{> esInput index="searchUsers" placeholder="Search for a user..." }}
  		<ul>
	        {{#esEach index="searchUsers"}}
	            <button class="project-users-add" id="{{_id}}">User <strong>{{username}}</strong></button>
	            <br />
	        {{/esEach}}
	    </ul>

    </div>
	
	<!--this is here just to test that users are added correctly--> 
	<div id="tmp-users-in-project">
		{{#each projectMember}}
			{{this.name}}
		{{/each}}
	</div>

	<!--layout definitely needs to be worked out--> 
</template>